<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP鹹酥雞測驗所-遊戲主選單</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="game">

    <div id="welcome-msg"></div>

    <div class="menu-container">
        <button id="btn-adventure" 
                onclick="window.location.href='{{ url_for('quiz') }}'">
            開始闖關
        </button>

        <button id="btn-full-test" 
                onclick="window.location.href='{{ url_for('full_test') }}'">
            正式測驗（70題）
        </button>

        <button id="btn-wrong" 
                onclick="window.location.href='{{ url_for('wrong_questions') }}'">
            錯題集整理
        </button>

        <button id="btn-all-questions" 
                onclick="window.location.href='{{ url_for('all_question') }}'">
            完整題庫
        </button>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>